@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300&display=swap');

body {
    font-family: 'Roboto', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.body {
    flex: 1;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

nav, 
.hero-body, 
.footer {
    background-color: #1f2937;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: #f9faf8;
}

.hero-text {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

button {
    font-size: 18px;
    color: #f9faf8;
    background-color: #3882f6;
    font-weight: 700;
    padding: 8px 30px;
    border: none;
    border-radius: 8px;
    /* "max-content" keeps buttons from getting crushed by flex as the 
       .action-container flexing could do. */
    width: max-content;
}

.hero-subtext, 
nav a {
    font-size: 18px;
    color: #e5e7eb;
}

nav {
    display: flex;
}

/* "border-box" solved .nav-container overflow issue when excessive
   padding was added. */
.nav-container {
    margin-left: auto;
    margin-right: auto;
    padding: 18px;
    /* Added 36px to width to accommodate for border-box squeezing the 
       18px of padding in. */
    width: 1056px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.nav-container ul {
    margin-left: auto;
    display: flex;
    gap: 25px;
}

.hero-body {
    display: flex;
}

.hero-container {
    margin-left: auto;
    margin-right: auto;
    /* Added 36px to width to accommodate for border-box squeezing the 
       18px of padding in. */
    width: 1056px;
    padding: 100px 18px 130px 18px;
    display: flex;
    align-items: center;
    gap: 50px;
    box-sizing: border-box;
}

.hero-subtext {
    margin-bottom: 12px;
}

.hero-left button:hover {
    background-color: #3272d8;
    cursor: pointer;
}

/* On button click. */
.hero-left button:active {
    background-color: #5d96f3;
    transform: scale(1.05);
    transition: all ease-in-out;
}

.hero-image {
    width: 520px;
    height: 240px;
}

.image-section {
    display: flex;
}

.image-section-container {
    margin-left: auto;
    margin-right: auto;
    width: 1056px;
    padding: 50px 18px 100px 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.image-section .header {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.lower-image-container {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 48px;
}

.lower-image-container .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.lower-image-container .item img {
    width: 170px;
    height: 170px;
    border-radius: 20px;
}

.lower-image-container .item img:hover {
    transform: scale(1.05);
    transition: all ease;
    border-radius: 25px;
}

.lower-image-container .item .item-subtext {
    font-size: 18px;
    color: #555555;
    width: 170px;
    text-align: center;
}

.quote-section {
    background-color: #e5e7eb;
    display: flex;
}

.quote-container {
    margin-left: auto;
    margin-right: auto;
    width: 790px;
    padding: 130px 18px 105px 18px;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
}

.quoted {
    text-align: right;
    font-size: 23px;
    font-weight: 700;
    padding-right: 40px;
}

/* Pad around the .action-container. */
.action-pad {
    padding: 105px 18px;
    display: flex;
}

/* "border-box" allowed keeping narrower width when padding was added. 
   */
.action-container {
    margin-left: auto;
    margin-right: auto;
    width: 1020px;
    padding: 50px 125px;
    background-color: #3882f6;
    border-radius: 8px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.action-left {
    padding-right: 50px;
}

.action-left .heading {
    color: #f9faf8;
    font-size: 23px;
    font-weight: 700;
}

.action-left .blurb {
    color: #e5e7eb;
    font-size: 18px;
}

.button-container {
    margin-left: auto;
}

.button-container button {
    border: 2px solid #f9faf8;
    padding: 6px 30px;
}

.button-container button:hover {
    background-color: #3272d8;
    cursor: pointer;
}

/* On button click. */
.button-container button:active {
    background-color: #5d96f3;
    transform: scale(1.05);
    transition: all ease-in-out;
}

.footer {
    padding: 40px 18px;
    font-size: 18px;
    color: #f9faf8;
    display: flex;
    align-items: center;
    justify-content: center;
}